---
layout: default
title: Aktuality
---

<div class="md-section">
  <div class="md-section__header">
    <h1 class="md-section__title">Aktuality</h1>
    <p class="md-section__subtitle">Všechny naše aktuality a zprávy z Brandýsa nad Labem</p>
  </div>
  
  <div class="md-articles-grid">
    {% assign aktuality_posts = site.posts | where_exp: "post", "post.category != 'mistostarosti'" %}
    {% for post in aktuality_posts limit: 11 %}
    <article itemtype="http://schema.org/BlogPosting" class="md-article-card" itemscope="">
      <link itemprop="mainEntityOfPage" href="{{ post.url | absolute_url }}">
      
      {% if post.image %}
      <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="md-article-card__media" itemprop="image">
      {% endif %}
      
      <div class="md-article-card__content">
        <h2 itemprop="headline" class="md-article-card__headline">
          <a href="{{ post.url | relative_url }}" itemprop="url">{{ post.title }}</a>
        </h2>
        
        <div class="md-article-card__meta">
          <span class="md-article-card__date" itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}">
            📅 {{ post.date | date: "%d.%m.%Y" }}
          </span>
          {% if post.author %}
          <span class="md-article-card__author" itemprop="author" itemtype="http://schema.org/Person" itemscope="">
            👤 <span itemprop="name">{{ post.author }}</span>
          </span>
          {% endif %}
        </div>
        
        <div itemprop="description" class="md-article-card__excerpt">
          {{ post.excerpt | strip_html | truncatewords: 30 }}
        </div>
        
        <div class="md-article-card__actions">
          <a href="{{ post.url | relative_url }}" class="md-button md-button--text">Číst celý článek</a>
        </div>
      </div>
      
      <!-- Publisher metadata -->
      <div itemprop="publisher" itemtype="http://schema.org/Organization" style="display: none;" itemscope="">
        <div itemprop="logo" itemtype="http://schema.org/ImageObject" itemscope="">
          <meta itemprop="url" content="{{ 'assets/img/brand/logo.svg' | absolute_url }}">
        </div>
        <meta itemprop="name" content="Pirátská strana Brandýs nad Labem">
      </div>
    </article>
    {% endfor %}
  </div>
  
  <!-- Simple pagination for filtered posts -->
  {% assign total_posts = aktuality_posts | size %}
  {% if total_posts > 11 %}
  <div class="md-pagination">
    <p>Zobrazeno {{ aktuality_posts | size | at_most: 11 }} z {{ total_posts }} aktualit</p>
  </div>
  {% endif %}
</div>