_site/
_podklady/html/pirati.cz/

.sass-cache/
.jekyll-metadata

desktop.ini
.DS_Store
.env
/piratibrandys_markdown
/substack
/vendor
material-design-demo.html
MATERIAL_DESIGN_IMPLEMENTACE.md
processed_articles.txt
urls_from_file.txt
/_posts/proposals/Downloads
/export_wayback
/node_modules
