---
layout: default
---
<div class="row" style="text-align: center">
	<div class="medium-12 large-12 columns">
		<section class="o-section o-section--spaceBot">
			<div class="o-section-inner o-section-inner--leftBlock">

				<ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" data-tabs id="deeplinked-tabs">
					<li class="tabs-title is-active"><a href="#panelCZ" aria-selected="true">CZ</a></li>
					<li class="tabs-title"><a href="#panelEN">EN</a></li>
					<li class="tabs-title"><a href="#panelRU">RU</a></li>
				</ul>

				<div class="tabs-content" data-tabs-content="deeplinked-tabs">
					<div class="tabs-panel is-active" id="panelCZ">
						<header class="o-section-header">
							<h1 class="o-section__heading">Program Pirátů Prahy 6 pro komunální volby 2018</h1>
						</header>
						{% for item in site.data.program %}
							{% include_relative item.html item=item.item prefix="cz" %}
						{% endfor %}
					</div>
					<div class="tabs-panel" id="panelEN">
						<header class="o-section-header">
							<h1 class="o-section__heading">Program Pirátů Prahy 6 pro komunální volby 2018</h1>
						</header>
						{% for item in site.data.program_en %}
							{% include_relative item.html item=item.item prefix="en" %}
						{% endfor %}
					</div>
					<div class="tabs-panel" id="panelRU">
						<header class="o-section-header">
							<h1 class="o-section__heading">Program Pirátů Prahy 6 pro komunální volby 2018</h1>
						</header>
						{% for item in site.data.program_ru %}
							{% include_relative item.html item=item.item prefix="ru" %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
